body
{
    margin: 0;
    font-family: "Armata", Arial;
    color: white;
    background-color: #4f4f4f;
    //background-image: radial-gradient(transparent, black), url("../img/earthRender.png");
    background-image: linear-gradient(transparent, black), url("../img/earthRender.png");
}

html
{
    min-height: 100%;
}

a
{
    color: #1A6EF4;
    text-decoration: none;
}

li
{
    list-style-type: none;
}

.centered
{
    margin: auto;
    padding: 10px;
    border: 3px;
}

.loader
{
    border: 5px solid #f3f3f3;
    border-top: 5px solid #1A6EF4; //#4287f5; //#3498db; /* Blue (both) */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
}

.navbar ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navbar li
{
    float: left;
}

.navbar li a
{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a:hover
{
    cursor:pointer;
}

.navbar li a:hover:not(.active)
{
    background-color: #111;
}

.active
{
    background-color: #1A6EF4; //#4287f5;
}

.sendBtn:hover
{
    background-color: #1550ad;
}

.sendBtn
{
    background-color: #1A6EF4; //#4287f5; /* Blue */
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    font-family: "Armata", Arial;
    transition-duration: 0.1s;
}

#cityNameInput
{
    border: none;
    color: black;
    padding: 5px 10px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    font-family: "Armata", Arial;
}

#map
{
    height: 400px;
    width: 80%; // 600px;
}

#tracker
{
    //background-color: rgba(0, 0, 0, 0.9);
    text-align: center;
    width: 50%;
    position: relative;
    float: left;
}

#planner
{
    //background-color: rgba(0, 0, 0, 0.9);
    text-align: center;
    width: 50%;
    position: relative;
    float: right;
    display: none;
    float: right;
}

#contact
{
    text-align: center;
    width: 100%;
    position: absolute;
    float: right;
    display: none;
    z-index: -1;
}

#about
{
    text-align: center;
    width: 100%;
    position: absolute;
    float: right;
    display: none;
    z-index: -3;
}

#privacy
{
    text-align: center;
    width: 100%;
    position: absolute;
    float: right;
    display: none;
    z-index: -2;
}

#datenschutz
{
    text-align: left;
    font-size: 12px;
    background-color: rgba(0, 0, 0, 0.9);
}

#passTable
{
    width: 100%;
}

@keyframes spin
{
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}